// 색상 변수
$primary: #3498db;
$secondary: #2ecc71;
$danger: #e74c3c;
$primary-hover: #236591;
$secondary-hover: #1d8046;
$danger-hover: #862d24;
$gray: #f4f4f4;
$card: #fdb7d4;

// 폰트
$font-main: "Noto Sans", sans-serif;
